@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
  color: red;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}